clouds:
  {{vnfd.tenant.cloud}}:
    auth:
      auth_url:     "{{cloud.auth.auth_url}}"
      username:     "{{cloud.auth.username}}"
      password:     "{{cloud.auth.password}}"
      project_name: "admin"
    interface:     "admin"
    endpoint-type: "admin"
  {{vnfd.vnf.name}}_{{vnfd.tenant.name}}:
    auth:
      auth_url:     "{{cloud.auth.auth_url}}"
      username:     "{{vnfd.vnf.name}}_{{vnfd.tenant.name}}_administrator"
      password:     "{{vnfd.tenant.password}}"
      project_name: "{{vnfd.vnf.name}}_{{vnfd.tenant.name}}"
    interface:     "public"
    endpoint-type: "public"
